.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    .info {
        position: absolute;
        top: 20%;
        right: 5%;
        background: transparent;
        padding: 1.5rem;
        text-align: center;
        h3 {
          color: white;
          text-transform: uppercase;
          font-size: 10em;
          margin: 0;
        }
      }
  }
  .image {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }