.container {
    .button {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.75rem 0;
        background: transparent;
        text-transform: uppercase;
        border: 2px solid black;
        background: black;
        color: white;
        cursor: pointer;
      }
    .button:hover {
    border: 2px solid black;
    background: white;
    color: black;
    }
    .bottom_border {
        border-bottom: 1px solid black;
    }
}